<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="type" value="mysql"/>
    <add key="hostname" value="127.0.0.1" />
    <add key="database" value="base" />
    <add key="username" value="root" />
    <add key="password" value="root" />
    <add key="hostport" value="3306" />
    <add key="charset" value="utf8" />
    <add key="DbHelperConnectionString" value="server=127.0.0.1;User Id=root;password=mysqlasdf1234;Database=bifms;Charset=utf8" />
  </appSettings>
</configuration>